body {
	font-family: Arial;
}

.nav1{
	margin: 0;
	background-color: black;
	padding: 5px;
	overflow: hidden;
	padding-right: 20%;
}

a {
	color: white;
	text-align: center;
	float: right;
	 text-decoration: none;
	 display: block;
	 padding: 15px 15px 15px 15px;
}

.nav1-a { 
	padding: 3px 15px 3px 15px;
	font-size: 15px;

}

.logo-header{
	margin-left: 30%;
	margin-right: 30%;

}

.main-header {
	margin: 0 auto;
	width: 80%;
}

.nav2{
	background-color: black;
	padding-top: 0;
	overflow: hidden;
	padding-right: 10%;
	padding-left:10%;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
}

.active {
	background-color: limegreen;

}

.last{
padding-right:10%;
}